<%= link_to "Create New User", new_user_path, class: "btn btn-primary btn-lg", id: "new-article-btn" %>
<%= link_to 'Access Firm section', firms_path, class: "btn btn-primary btn-lg" %>
<% if @users.empty? %>
<h1 id="no-articles">No Users Created</h1>
<% else %>
<% @users.each do |user| %> 
<div class="well well-lg">
<div class="article-title"> 
<%= link_to user.first, user_path(user) %>-<%= user.last %>
</div>
<div class="article-title"> 
<%= user.phone %>
</div>
<div class="article-title"> 
<%= user.email %>
</div>
</div> 
<% end %> 
<% end %>