<article class="detail-article">
<h1 class="article-detail-title">
<%= @user.first %>-<%= @user.last %>
</h1>
<div class="glyphicon glyphicon-calendar" id="article-date"> 
<%= @user.created_at.strftime("%b %d, %Y") %>
</div>
<h2 class="article-detail-title">
<%= @user.email %>
</h2>
<h2 class="article-detail-title">
<%= @user.phone %>
</h2>
<div class="edit-delete">
<%= link_to "Edit User", edit_user_path(@user), class: "btn btn-primary btn-lg btn-space" %>
<%= link_to "Delete User", user_path(@user),
method: :delete,
data: { confirm: "Are you sure you want to delete article?" }, 
class: "btn btn-primary btn-lg btn-space" %>
</div>
</article>