<%= link_to "Create New Application", new_customer_path, class: "btn btn-primary btn-lg", id: "new-article-btn" %>

<% if @customers.empty? %>
<h1 id="no-articles">No Applications Created</h1>
<% else %>
<% @customers.each do |customer| %> 
<div class="well well-lg">
<div class="article-title"> 
<%= customer.customerFirstName %>-<%= customer.customerLastName %>
</div>
<div class="article-title"> 
<%= customer.customerPhone %>
</div>
<div class="article-title"> 
<%= customer.customerEmail %>
</div>
<div class="article-title"> 
<%= customer.businessName %>
</div>
<h4><%= link_to "See details", customer_path(customer) %><h4>
</div> 
<% end %> 
<% end %>
